{% extends "admin/change_form.html" %}


{% block content %}
    {{ block.super }}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function(){
            const userField = document.getElementById("id_user");
            const platformField = document.getElementById("id_platforms");
            const platformId = "id_platforms_";
            const platformNumber = {{platformCount}};
            var platformOption ;

            platformField.style.display = "none";
            
            /*
               The function below takes the user's selection and searches for the platforms on which they have accounts.
               It then removes these platforms from the list of available platforms shown. 
               If the user has accounts on all available platforms, a window alert will appear.
            */
            userField.addEventListener('change', function() {
                if (userField.value !== ""){
                    $.ajax({
                        type: "GET",
                        url: '{% url 'add_account_view' %}', 
                        data: {
                            user_id: userField.value
                        },
                        success: function(response) {
                            let platforms_with_acc = response.platforms;
                            const platforms_with_acc_Count = Object.keys(platforms_with_acc).length;
                            if (platformNumber===platforms_with_acc_Count){
                                platformField.style.display = "none";
                                window.alert("user selected already has active accounts on all platforms");
                            }
                            else{
                                platformField.style.display = "block";
                                for( let i = 0 ; i < platformNumber ;i++){
                                    platformOption = document.getElementById(platformId + i);
                                    if( (Object.keys(platforms_with_acc)).includes(platformOption.value.toString())){
                                        const div = (platformOption.parentNode).parentNode;
                                        div.style.display='none';
                                    }
                                }     
                            }
                        }
                    });
                   
                }
                else {
                    platformField.style.display = "none";
                    window.alert("please select a user");
                }
            });

            // creating the select all checkcbox 
            const newLabel_1 = document.createElement("label");
            const newInput_1 = document.createElement("input");
            const newDiv_1 = document.createElement("div");
            newInput_1.type = "checkbox";
            newInput_1.name = "selectAll";
            newInput_1.value = "all";
            newInput_1.id = "id_select_all";
            // Append the input element to the label
            newLabel_1.appendChild(newInput_1);
            const labelText_1 = document.createTextNode(" De/Select all platforms");
            newLabel_1.appendChild(labelText_1);
            newDiv_1.appendChild(newLabel_1);
            platformField.appendChild(newDiv_1);

            // styling the container and making a flew box
            newDiv_1.style.display = "block";  
            newDiv_1.style.height= "fit-content";
            newDiv_1.style.width= "fit-content";
            newDiv_1.style.padding= "2px 6px 2px 6px";
            newDiv_1.style.border = "1px solid black"; 
            newDiv_1.style.boxSizing = "border-box";
            

            // add events when the checkboxes are selected
            const mySelectAllCheckbox = document.getElementById("id_select_all"); // gets both the select all 
            
            mySelectAllCheckbox.addEventListener('change', function(){
                var isChecked = mySelectAllCheckbox.checked;
                for (let i = 0; i < platformNumber; i++) {
                    var platformOption = document.getElementById(platformId + i);
                    if (platformOption.style.display !=="none"){
                        platformOption.checked = isChecked;
                    }
                }
            });

            const submit = document.getElementsByClassName("default")[0];
            submit.addEventListener('click', function(event){
                const result = window.confirm("are you sure you want to add this user?");
                if (!result) {
                    event.preventDefault();
                }
            });

            
        });
    </script>
{% endblock %}